---
layout: page
title: Copyright Council
tagline: Exploring the future of Copyright and Enforcement
---
{% include JB/setup %}

<div class="label label-success" style="text-align:center;">
  <p><i class="icon icon-beer" style="font-size:92px;"></i></p>
  <p>Beer Time</p>
</div>

<div class="label label-success" style="text-align:center;">
  <p><i class="icon icon-beer" style="font-size:92px;"></i></p>
  <p>Beer Time</p>
</div>

<div class="label label-success" style="text-align:center;">
  <p><i class="icon icon-beer" style="font-size:92px;"></i></p>
  <p>Beer Time</p>
</div>

<div class="label label-success" style="text-align:center;">
  <p><i class="icon icon-beer" style="font-size:92px;"></i></p>
  <p>Beer Time</p>
</div>

<div class="label label-success" style="text-align:center;">
  <p><i class="icon icon-beer" style="font-size:92px;"></i></p>
  <p>Beer Time</p>
</div>

<p>Text and stuff will go here</p>

<h2>Update Author Attributes</h2>

<p>In `_config.yml` remember to specify your own data:</p>
<code>
    title : My Blog =)
    
    author :
      name : Name Lastname
      email : blah@email.test
      github : username
      twitter : username
</code>
<p>The theme should reference these variables whenever needed.</p>
    
<h2> Sample Posts</h2>

<p>This blog contains sample posts which help stage pages and blog data.
When you don't need the samples anymore just delete the `_posts/core-samples` folder.</p>
<blockquote>
    $ rm -rf _posts/core-samples
  </blockquote>

<p>Here's a sample "posts list".</p>
<ul class="posts">
  {% for post in site.posts %}
    <li><span>{{ post.date | date_to_string }}</span> &raquo; <a href="{{ BASE_PATH }}{{ post.url }}">{{ post.title }}</a></li>
  {% endfor %}
</ul>


